:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(225, 8%, 40%);
  --max-width: 570px;
}
br {
  border: 2px;
  border-color: black;
}
html {
  height: 100%;
}

body {
  color: white;
  background-color: rgba(36, 36, 36, 0.883);
  background-repeat: no-repeat;
  background-position: center center;

  background-attachment: fixed;

  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.weather-card_container {
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;

  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.clear_sky {
  background: rgb(103, 175, 221);
}
.broken_clouds,
.overcast_clouds {
  background: rgba(112, 112, 112, 0.561);
}
.few_clouds,
.scattered_clouds {
  background: rgba(127, 165, 189, 1);
}
.mist {
  background: rgb(74, 64, 123);
}
.rain {
  background: rgba(125, 123, 160, 1);
}
.thunderstorm {
  background: rgb(76, 114, 115);
}
.shower_rainm,
.light_rain {
  background: rgb(87, 97, 113);
}
.snow {
  background: rgb(78, 95, 110);
}
.main {
  display: flex;
  justify-content: flex-start;
}
.weather-card_panel {
  place-items: center;
}

.weather-card_panel,
h2,
p {
  margin: 2px;
  padding: 2px;
}

.details {
  margin: 4px;
  padding: 4px;
}
.btn {
  display: inline-block;
  background: rgb(255, 153, 85);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: black;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1re;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.temperature {
  font-size: 2.5em;
}
.weather_description {
  margin: 2px;
  padding: 2px;
}

/*
  code below will be used in the future
*/
/*

.daily-card {
  position: relative;

  display: flex;

  overflow-x: auto;
}
.daily-card::-webkit-scrollbar {
  width: 0;
}

.daily-card .daily-card_details {
  min-width: 110px;

  text-align: center;
  background-color: rgba(103, 175, 221, 1);
} */
