:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(225, 8%, 40%);
  --max-width: 570px;
}

body {
  margin: 0;
  color: white;
  background-color: rgba(36, 36, 36, 0.883);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.weather-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.leaflet-container {
  display: flex;
  align-items: center;
  max-width: 1080px;
  width: 90vw;
  height: 500px;
  margin-top: 20px;
}

.weather-card-wrapper {
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.weather-card-panel-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.weather-card-title {
  margin: 5px;
  font-weight: bold;
  font-size: 1.2em;
}
.details-container {
  height: 0;
  overflow: hidden;
}

.clear {
  background: rgb(103, 175, 221);
}
.clouds {
  background: rgba(112, 112, 112, 0.561);
}
/* .few_clouds,
.scattered_clouds {
  background: rgba(127, 165, 189, 1);
} */
.mist,
.smoke,
.haze,
.dust,
.fog,
.sand,
.ash,
.squal,
.tornado {
  background: rgb(74, 64, 123);
}
.rain {
  background: rgba(125, 123, 160, 1);
}
.thunderstorm {
  background: rgb(76, 114, 115);
}
.drizzle {
  background: rgb(87, 97, 113);
}
.snow {
  background: rgb(78, 95, 110);
}
.main {
  display: flex;
  justify-content: flex-start;
}
.weather-card_panel {
  place-items: center;
}

.weather-card_panel,
h2,
p {
  margin: 2px;
  padding: 2px;
}

.details {
  margin: 4px;
  padding: 4px;
}
.btn {
  display: inline-block;
  background: rgb(255, 153, 85);
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: black;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1re;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.temperature {
  width: 2em;
  font-size: 2.5rem;
}
.weather_description {
  margin: 2px;
  padding: 2px;
}
.time-wrapper {
  font-weight: initial;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;

  box-shadow: 0 2px white;
}
.tab-btn {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.25rem 0;
  color: white;
  line-height: 1;
  border: none;
  outline: none;
}
.tab-btn:hover {
  color: rgb(255, 153, 85);
  box-shadow: 0 2px rgb(255, 153, 85);
}
.active-btn {
  color: rgb(255, 153, 85);
  box-shadow: 0 2px rgb(255, 153, 85);
}
.chart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .leaflet-container {
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .weather-card-title {
    text-align: center;
    margin: 2px;
    font-size: 1.5em;
  }
  .weather-card-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1080px;
    border-radius: 20px;
  }

  .weather-card-panel-wrapper {
    display: flex;
    padding: 2px;
  }

  .weather-card_panel {
    flex-grow: 2;
    font-size: 1.4em;
    justify-content: center;
  }
  .weather-card_panel_details {
    display: flex;
    flex-direction: column;
  }
  .weather-card_panel .main {
    flex-direction: row;
    font-size: 1.2em;
    justify-content: space-evenly;
  }
  .weather-card_panel .main,
  p {
    margin: 2px;
  }

  .details-container {
    width: 100%;
    display: flex;
    font-size: 0.5em;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
  }
  .detail-wrapper {
    display: flex;
  }
  .description_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .weather-card_panel-right {
    overflow: hidden;
    width: 0;
    height: 0px;
  }
  .time-wrapper {
    font-size: 0.6em;
    font-weight: initial;
  }
  .main .wu-solid-white {
    order: 2;
  }
  .temperature {
    order: 1;
  }
}
/*
  code below will be used in the future
*/
/*

.daily-card {
  position: relative;

  display: flex;

  overflow-x: auto;
}
.daily-card::-webkit-scrollbar {
  width: 0;
}

.daily-card .daily-card_details {
  min-width: 110px;

  text-align: center;
  background-color: rgba(103, 175, 221, 1);
} */
