.hourly-card-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 1080px;
  margin: 10px;
  align-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.hourly-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  cursor: pointer;
  font-weight: bold;
}
.hourly-card-header:hover {
  background-color: rgb(255, 153, 85);
}
.hourly-card-description-wrapper {
  width: 3rem;
}

.panel {
  display: flex;
  width: 50%;
}
.hourly-card-details-item-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  transition: all 0.1s linear;
  height: 0;
  overflow: hidden;
}
.hourly-show-details {
  height: 7rem;
}

@media only screen and (max-width: 600px) {
  .hourly-card-header {
    font-size: 0.7em;
  }
  .hourly-card-details-item-content {
    font-size: 0.8em;
  }

  .hourly-show-details {
    height: 5rem;
  }
  .panel {
    margin: 2px;
  }
}
