nav {
  background: rgb(103, 175, 221);
  width: 100%;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.input-container {
  margin-left: auto;
  margin-right: 2em;
}
.title-wrapper {
  display: flex;
  width: 10rem;
  justify-content: space-evenly;
}
input {
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 14px 14px;
  border: none;
  cursor: pointer;
  outline: none;
}
.autoContainer {
  width: 12rem;
  position: absolute;
  background-color: rgb(36, 36, 36);
}
.option {
  display: flex;
  align-items: center;
  padding: 1em;
  outline-style: none;
}
.option:hover {
  background-color: rgb(255, 153, 85);
}
.selected {
  background-color: blueviolet;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    align-items: center;
    flex-direction: column;
  }
  .nav-bar-main-container {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 2px;
    justify-content: space-between;
  }
  .input-container {
    width: 100%;
    margin: 5px;
    transition: all 100ms;
  }
  .show-input {
    height: auto;
    overflow: auto;
    margin: 4px;
  }
  .input-wrapper {
    display: flex;
    align-items: center;
    background-color: rgb(61, 61, 61);
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 5px;
  }
  input {
    flex-grow: 2;
  }
  .autoContainer {
    width: 95%;
    margin-left: 8px;
  }
  .hide-title {
    height: 0px;
    overflow: hidden;
    margin: 0px;
  }
  .icon-container {
    margin: 10px;
  }
}
