nav {
  background: rgb(103, 175, 221);
  width: 100%;
}
.nav-bar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.input-wrapper {
  margin-left: auto;
  margin-right: 2em;
}
.title-wrapper {
  display: flex;
  width: 25em;
  justify-content: space-evenly;
}
input {
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  outline: none;
}
.autoContainer {
  width: 100%;
  position: absolute;
  background-color: rgb(36, 36, 36);
}
.option {
  display: flex;
  align-items: center;
  padding: 1em;
  outline-style: none;
}
.option:hover {
  background-color: rgb(255, 153, 85);
}
.selected {
  background-color: blueviolet;
}
